p {
  font-family: Lato;
}

.box {
  animation-name: popup;
  animation-duration: 500ms;
  width: 300px;
  height: 200px;
  background-color: blue;

  transition-property: transform;
  transition-duration: 250ms;

  cursor: pointer;
}

@keyframes popup {
  from {
    position: relative;
    top: 100px;
  }

  to {
    position: relative;
    top: 0px;
  }
}

.box:hover {
  transform: scale(1.1);
}
